<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Network Healthcare Jobs Portal</title>
  <meta name="description" content="Network Healthcare Jobs Portal">
  <meta name="author" content="Adam Farnell">

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>
    <div class = container-fluid>
    <h1>Network Healthcare Jobs Portal</h1>
        <div class = "btn-danger"></div>
    </div>
</body>
</html>