@import 'bootstrap.min';
@import 'bootstrap-theme.min';


.toprow {
    padding-top: 20px;
}

.logo {
    max-width:100% !important;
    height: auto;
    display: block;
}

.calendar-title {
    padding-bottom: 20px;
    font-size:20px;
}